/* Outermost div. */
.outerContainer {
  background: linear-gradient(180deg, white, rgba(128, 128, 128, 0.344));
}

/* Fist inner div for handling user input. */
.container {
  color:rgb(243, 241, 241);
  border-bottom: solid black;
  font-style: bold;
  text-align: center;
  padding-top: 50px;
  padding-bottom:40px;
  align-content: center;
  font-size: larger;
  align-content: center;
  background-color: grey;
  background: url(./card-backgrounds/hydra.jpg);
  background-position: center;
}

/* Second inner div: holds all cards. */
.cardsContainer {
  background: url(./card-backgrounds/binder.png);
  background-repeat: repeat-y;
  border-top: solid black;
  box-shadow: 0px 0px 5px 5px rgba(0,0,0,.15);
  padding-bottom:40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left:130px;
  padding-right:130px;
}

/* Holds a card. */
.cardContainer {
  padding-left: 30px;
  padding-right: 30px;
}

@media only screen and (width <= 500px) { 
  .cardsContainer {
    background: white !important;
    padding-left: 0px;
    padding-right: 0px;
  }

  .cardContainer {
    padding-left: 0px;
    padding-right: 0px;
  }
}


table {
  margin-left: auto;
  margin-right: auto;
}

.userInputPrompt:focus {
  outline: none !important;
  border:1px solid rgb(10, 10, 10);
  box-shadow: 0 0 10px #719ECE;
  background-color: #5a5370;
}

.userInputPrompt {
  border: 1px solid rgba(255,255,255,0.25);
  background-color: #242031;
  color: #D7D7D7;
  height: 30px;
  width: min(70vw, 800px);
  padding: 12px 14px 12px 12px;
  text-align: center;
}

.loadingIcon {
  width:50px;
  height:50px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loadingAnimation {
  animation: rotate 2s infinite linear;
}

.generateButton {
  width:200px;
  height:50px;
}

.card-edit-name {
  /* Have the card name take up the available space. */
  width:-webkit-fill-available;
  margin-right:10px;
  background:rgba(255, 255, 255, 0.632);
  color:#000000;
}

.card-edit-text {
  display:flex;
  width:-webkit-fill-available;
  resize: vertical;
  background:rgba(255, 255, 255, 0.632);
  font-size: small;
  height:-webkit-fill-available;
  height:auto;
}

.card-edit-type {
  display:flex;
  width:-webkit-fill-available;
  resize: vertical;
  background:rgba(255, 255, 255, 0.632);
  font-size: small;
  height:-webkit-fill-available;
  height:auto;
  margin-left: 10px;
  margin-right: 10px;
}

.card-edit-manaCost-container {
  font-size: 1.3em;
  margin-left: 10px;
  align-self: baseline;
  font-weight: 600;
  display: flex;
  margin-left:auto;
}

.card-edit-manaCost {
  display:flex;
  resize: vertical;
  background:rgba(255, 255, 255, 0.632);
  font-size: small;
  height:auto;
  margin-left: auto;
  margin-right: 10px;
  max-width: 80px;
  text-align: center;
}

.card-edit-pt {
  max-width: 50px;
  text-align: center;
}
