/* Outermost div. */
.outerContainer {
  background: linear-gradient(180deg, white, rgba(128, 128, 128, 0.344));
}

/* Fist inner div for handling user input. */
.container {
  color:rgb(243, 241, 241);
  border-bottom: solid black;
  font-style: bold;
  text-align: center;
  padding-top: 50px;
  padding-bottom:40px;
  align-content: center;
  font-size: larger;
  align-content: center;
  background-color: grey;
  background: url(./card-backgrounds/hydra.jpg);
  background-position: center;
}

/* Second inner div: holds all cards. */
.cardsContainer {
  background: url(./card-backgrounds/binder.png);
  background-repeat: repeat-y;
  border-top: solid black;
  box-shadow: 0px 0px 5px 5px rgba(0,0,0,.15);
  padding-bottom:40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left:130px;
  padding-right:130px;
}

/* Holds a card. */
.cardContainer {
  padding-left: 30px;
  padding-right: 30px;
}

@media only screen and (width <= 500px) { 
  .cardsContainer {
    background: white !important;
    padding-left: 0px;
    padding-right: 0px;
  }

  .cardContainer {
    padding-left: 0px;
    padding-right: 0px;
  }
}


table {
  margin-left: auto;
  margin-right: auto;
}

.userInputPrompt:focus {
  outline: none !important;
  border:1px solid rgb(10, 10, 10);
  box-shadow: 0 0 10px #719ECE;
  background-color: #5a5370;
}

.userInputPrompt {
  border: 1px solid rgba(255,255,255,0.25);
  background-color: #242031;
  color: #D7D7D7;
  height: 30px;
  width: min(70vw, 800px);
  padding: 12px 14px 12px 12px;
  text-align: center;
  border-radius: 15px;
}

.loadingIcon {
  width:50px;
  height:50px;
}

.settingsIcon {
  width:40px;
  height:40px;
}

.settingsIconDiv img:hover {
  opacity: .4;
}

.image-hover-highlight {
    -webkit-transition: all 0.50s;
    transition: all 0.50s;
    &:hover {
        border: 1px solid gray;
        filter: brightness(130%);
        -webkit-filter: brightness(130%);
        -moz-filter: brightness(130%);
        -o-filter: brightness(130%);
        -ms-filter: brightness(130%);
        -webkit-transition: all 0.50s;
        transition: all 0.50s;
    }
}


@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loadingAnimation {
  animation: rotate 2s infinite linear;
}

.generateButton {
  width:200px;
  height:50px;
  border-radius: 15px;
}

.generateButton:hover {
  background-color: rgba(228, 228, 228, 0.953);
}

.card-edit-name {
  /* Have the card name take up the available space. */
  width:-webkit-fill-available;
  margin-right:10px;
  background:rgba(255, 255, 255, 0.632);
  color:#000000;
}

.card-edit-text {
  display:flex;
  width:-webkit-fill-available;
  resize: vertical;
  background:rgba(255, 255, 255, 0.632);
  font-size: small;
  height:-webkit-fill-available;
  height:auto;
}

.card-edit-type {
  display:flex;
  width:-webkit-fill-available;
  resize: vertical;
  background:rgba(255, 255, 255, 0.632);
  font-size: small;
  height:-webkit-fill-available;
  height:auto;
  margin-left: 10px;
  margin-right: 10px;
}

.card-edit-manaCost-container {
  font-size: 1.3em;
  margin-left: 10px;
  align-self: baseline;
  font-weight: 600;
  display: flex;
  margin-left:auto;
}

.card-edit-manaCost {
  display:flex;
  resize: vertical;
  background:rgba(255, 255, 255, 0.632);
  font-size: small;
  height:auto;
  margin-left: auto;
  margin-right: 10px;
  max-width: 80px;
  text-align: center;
}

.card-edit-pt {
  max-width: 50px;
  text-align: center;
}

/* Setting menu transitions. */
.pop-out-settings-menu-enter {
  transform: translateX(100%);
}

.pop-out-settings-menu-enter-active {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

.pop-out-settings-menu-exit {
  transform: translateX(0);
}

.pop-out-settings-menu-exit-active {
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.settingsMenuContainer {
  color:black;
  text-align: left;
  margin-left: 15px;
  margin-top: 2px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.settingsMenuContainer h1 {
  margin-left: 0;
  margin-top: 10px;
}

.settingsMenuContainer table {
  margin-left: 0;
  /*margin-top: 10px;*/
}

.settingsMenuContainer td {
  padding-left: 10px;
}

.settingsDescription {
  font-size: .9em;
  color: #5a5370;
}

.settingSlider {
  padding-right: 10px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.userOpenAIKeyInput {
  margin-top:10px;
  width:90%;
}

.userOpenAIKeyInput:focus {
  outline: none !important;
  border:1px solid rgb(10, 10, 10);
  box-shadow: 0 0 10px #719ECE;
  background-color: #b1b1b1a4;
}

.notification {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  color: rgb(236, 75, 75);
  margin: 5px;
  padding: 3px;
  background-color: rgba(25, 25, 29, 0.504);
}

.notification a {
  color:rgb(255, 255, 255);
  text-decoration: none;
}

.notification a:hover {
  color:rgb(148, 153, 160);
  text-decoration: underline;
}

.pulsingLink {
  animation: pulse 4s 20s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}



