.outer-card-container > *,  h1 {
  margin: 0;
}

.outer-card-container > *, p {
  margin: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End of reset */
body* > {
  box-sizing: border-box;
}

/**************************/
/* Core card sizes that we will scale.
.card-container width is set in App.tsx, other lengths are determined by that.
*/
/**************************/

/* Holds a card. */
.cardContainer {
  padding-left: 30px;
  padding-right: 30px;
}

.card-container {
  contain: size layout;
  border: 1px solid black;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 25px;
  box-sizing: border-box;
  box-shadow: -8px 9px 16px -3px gray;
  background: #171314;  
}

.card-background {
  margin: 4% 4% 0 4%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 8%;
  border-bottom-right-radius: 8%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  z-index: 0;
}

.card-frame {
  z-index: 1;
  position: relative;
  height: 100%;
  max-width: 97%;
  left: 1.7%;
  top: 0.5%;
  display: flex;
  flex-direction: column;
}

.frame-text-box {
  display: flex;
  background: #d3ded6;
  background-image: url(https://image.ibb.co/dFcNx7/tile_bg_2.jpg);
  padding: 7px 6px;
  max-height:36%;
  min-height:36%;
}

.frame-art {
  height: 48%;
}

.power-and-toughness-size {
  font-size: 1.3em;
}

.name-type-size {
  font-size: 1.2em;
  font-weight: 600;
}

.flavour-text {
  display: flex;
  font-style: italic;
  padding: 4px 0;
}

/* Sizes of the set number (left) and copyright (right) on the bottom of the frame. */
.fbi-left,
.fbi-right {
    font-size: 10px;
    position: relative;
    top: 6px;
}

@media (width <= 440px) {
  .power-and-toughness-size  {
    font-size: 1.1em;
  }

  .name-type-size {
    font-size: 1.1em;
  }

  .fbi-left,
  .fbi-right {
    font-size: 9px;
  }

  .cardContainer {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (width <= 340px) {
  .power-and-toughness-size  {
    font-size: .8em;
  }

  .name-type-size {
    font-size: .9em;
  }

  .fbi-left,
  .fbi-right {
    font-size: 7px;
  }

  .card-container p {
    margin-bottom: 0px;
  }

  .flavour-text {
    padding-bottom: 0px;
    padding-top: 5px;
  }
}

/**************************/
/* Card frame background. */
/**************************/
/* Single color backgrounds. */
.card-background-g {
  background-image: url(./card-backgrounds/g.png)
}

.card-background-u {
    background-image: url(./card-backgrounds/u.png)
}

.card-background-w {
  background-image: url(./card-backgrounds/w.png)
}

.card-background-b {
  background-image: url(./card-backgrounds/b.png);
}

.card-background-r {
  background-image: url(./card-backgrounds/r.png);
}

/* Two color backgrounds. */
.card-background-uw {
  background-image: url(./card-backgrounds/uw.png);
}

.card-background-ub {
  background-image: url(./card-backgrounds/ub.png);
}

.card-background-br {
  background-image: url(./card-backgrounds/br.png);
}

.card-background-rg {
  background-image: url(./card-backgrounds/rg.png);
}

.card-background-wg {
  background-image: url(./card-backgrounds/wg.png);
}

.card-background-wb {
  background-image: url(./card-backgrounds/wb.png);
}

.card-background-ur {
  background-image: url(./card-backgrounds/ur.png);
}

.card-background-bg {
  background-image: url(./card-backgrounds/bg.png);
}

.card-background-rw {
  background-image: url(./card-backgrounds/rw.png);
}

.card-background-ug {
  background-image: url(./card-backgrounds/ug.png);
}

/* Colorless background. */
.card-background-c {
  background-image: url(./card-backgrounds/c.png);
}

/* Three plus color background. */
.card-background-mc {
  background-image: url(./card-backgrounds/mc.png);
}

/**************************/
/*         BORDERS        */
/**************************/
.frame-header,
.frame-type-line {
    border-bottom: 2px solid #a9a9a9;
    border-left: 2px solid #a9a9a9;
    /*
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    */
}

.frame-header,
.frame-art,
.frame-type-line {
    margin-bottom: 7px;
}

/* Box shadows for the card's header, type line, art, and text box. /*
/* Single color backgrounds. */
.frame-header-g,
.frame-art-g,
.frame-type-line-g,
.frame-text-box-g {
  box-shadow: 0 0 0 2px #053611bb, 0 0 0 2px #117210f0, -2px 3px 2px 3px #020202;
}

.frame-header-u,
.frame-art-u,
.frame-type-line-u,
.frame-text-box-u {
  box-shadow: 0 0 0 2px #3b40da83, 0 0 0 2px #0110b2b4, -2px 3px 2px 3px #020202;
}

.frame-header-w,
.frame-art-w,
.frame-type-line-w,
.frame-text-box-w {
  box-shadow: 0 0 0 2px #dadada96, 0 0 0 1px #858484f0, -2px 3px 2px 3px #020202;
}

.frame-header-b,
.frame-art-b,
.frame-type-line-b,
.frame-text-box-b {
  box-shadow: 0 0 0 2px #999999, 0 0 0 5px #151414, -3px 3px 2px 5px #2f2e2e;
}

.frame-header-r,
.frame-art-r,
.frame-type-line-r,
.frame-text-box-r {
  box-shadow: 0 0 0 2px #f1616196, 0 0 0 2px #ed0f0ff0, -2px 3px 2px 3px #020202;
}

/* Two color backgrounds. */
.frame-header-uw,
.frame-art-uw,
.frame-type-line-uw,
.frame-text-box-uw {
  box-shadow: 0 0 0 2px #999999, 0 0 0 5px #151414, -3px 3px 2px 5px #2f2e2e;
}

.frame-header-ub,
.frame-art-ub,
.frame-type-line-ub,
.frame-text-box-ub {
  box-shadow: 0 0 0 2px #3b40da2f, 0 0 0 2px #010c7b39, -2px 3px 2px 3px #020202;
}

.frame-header-br,
.frame-art-br,
.frame-type-line-br,
.frame-text-box-br {
  box-shadow: 0 0 0 3px #3030302d, 0 0 0 2px #b3b3b334, -2px 3px 2px 3px #020202;
}

.frame-header-rg,
.frame-art-rg,
.frame-type-line-rg,
.frame-text-box-rg {
  box-shadow: 0 0 0 3px #3030302d, 0 0 0 2px #b3b3b334, -2px 3px 2px 3px #020202;
}

.frame-header-wg,
.frame-art-wg,
.frame-type-line-wg,
.frame-text-box-wg {
  box-shadow: 0 0 0 3px #3030302d, 0 0 0 2px #b3b3b334, -2px 3px 2px 4px #020202;
}

.frame-header-wb,
.frame-art-wb,
.frame-type-line-wb,
.frame-text-box-wb {
  box-shadow: 0 0 0 2px #999999, 0 0 0 5px #151414, -3px 3px 2px 5px #2f2e2e;
}

.frame-header-ur,
.frame-art-ur,
.frame-type-line-ur,
.frame-text-box-ur {
  box-shadow: 0 0 0 2px #7579e148, 0 0 0 2px #130403f0, -2px 3px 2px 3px #020202;
}

.frame-header-bg,
.frame-art-bg,
.frame-type-line-bg,
.frame-text-box-bg {
  box-shadow: 0 0 0 2px #05050596, 0 0 0 1px #858484f0, -2px 3px 2px 3px #020202;
}

.frame-header-rw,
.frame-art-rw,
.frame-type-line-rw,
.frame-text-box-rw {
  box-shadow: 0 0 0 2px #05050596, 0 0 0 1px #858484f0, -2px 3px 2px 3px #020202;
}

.frame-header-ug,
.frame-art-ug,
.frame-type-line-ug,
.frame-text-box-ug {
  box-shadow: 0 0 0 2px #05050596, 0 0 0 1px #858484f0, -2px 3px 2px 3px #020202;
}

/* Colorless background. */
.frame-header-c,
.frame-art-c,
.frame-type-line-c,
.frame-text-box-c {
  box-shadow: 0 0 0 2px #999999, 0 0 0 5px #151414, -3px 3px 2px 5px #2f2e2e;
}

/* Three plus color background. */
.frame-header-mc,
.frame-art-mc,
.frame-type-line-mc,
.frame-text-box-mc {
  box-shadow: 0 0 0 2px #533d0b96, 0 0 0 2px #ad7f157a, -2px 3px 2px 3px #020202;
}

/* Overflow. */
.frame-header,
.frame-type-line,
.frame-text-box {
    overflow: hidden;
}

/**************************/
/*      Card Frames       */
/**************************/
.frame-header,
.frame-type-line {
    background: 
        linear-gradient(0deg, rgba(201, 216, 201, .3), rgba(201, 216, 209, .3)), 
        url(https://image.ibb.co/jKByZn/tile_bg_1.jpg);
    display: flex;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    min-height:3%;
    max-height:3%;
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    border-radius: 18px/40px;
}

/* Backgrounds for the card header and card type line.
/* Single color frame backgrounds. */
.frame-u {
  background: linear-gradient(360deg, rgb(32 8 187 / 39%), rgb(255 255 255 / 40%)), 
  url(https://image.ibb.co/jKByZn/tile_bg_1.jpg)
}

.frame-g {
  background: 
  linear-gradient(0deg, rgba(201, 216, 201, .3), rgba(31, 130, 84, 0.3)), 
  url(https://image.ibb.co/jKByZn/tile_bg_1.jpg);
}

.frame-w {
  background: 
  linear-gradient(0deg, rgb(241 243 241 / 30%), #e7e8dc), 
  url(https://image.ibb.co/jKByZn/tile_bg_1.jpg)
}

.frame-b {
  background: 
  linear-gradient(0deg, rgba(201, 216, 201, .3), rgba(201, 216, 209, .3)), 
  url(https://image.ibb.co/jKByZn/tile_bg_1.jpg);
}

.frame-r {
  background: linear-gradient(360deg, rgba(208, 37, 11, 0.39), rgb(255 255 255 / 40%)), 
  url(https://image.ibb.co/jKByZn/tile_bg_1.jpg)
}

/* Two color frame backgrounds. */
.frame-uw {
  background: 
  linear-gradient(210deg, rgb(92 51 255 / 30%), rgb(255 182 18 / 30%)), 
  url(https://image.ibb.co/jKByZn/tile_bg_1.jpg)
}

.frame-ub {
  background: linear-gradient(90deg, rgba(18, 139, 238, 0.286), rgba(110, 108, 108, 0.4)), 
  url(https://image.ibb.co/jKByZn/tile_bg_1.jpg)
}

.frame-br {
  background: 
  linear-gradient(90deg, rgba(20, 20, 20, 0.199),  rgba(208, 37, 11, 0.226)), 
  url(https://image.ibb.co/jKByZn/tile_bg_1.jpg);
}

.frame-rg {
  background: 
  linear-gradient(90deg, rgba(208, 37, 11, 0.226),  rgba(17, 114, 61, 0.226)), 
  url(https://image.ibb.co/jKByZn/tile_bg_1.jpg);
}

.frame-wg {
  background: 
linear-gradient(90deg, rgba(11, 112, 56, 0.295), #fcfcfcaf), 
  url(https://image.ibb.co/jKByZn/tile_bg_1.jpg)
}

.frame-wb {
  background: 
  linear-gradient(90deg, rgba(224, 230, 224, 0.338), rgba(65, 70, 68, 0.382)), 
  url(https://image.ibb.co/jKByZn/tile_bg_1.jpg);
}

.frame-ur {
  background: 
  linear-gradient(90deg, rgba(22, 178, 240, 0.3), rgba(187, 51, 2, 0.5)), 
  url(https://image.ibb.co/jKByZn/tile_bg_1.jpg);
}

.frame-bg {
  background: 
  linear-gradient(90deg, rgba(116, 116, 116, 0.3), rgba(24, 163, 87, 0.233)), 
  url(https://image.ibb.co/jKByZn/tile_bg_1.jpg);
}

.frame-rw {
  background: 
  linear-gradient(90deg, rgba(208, 37, 11, 0.226), rgba(223, 223, 223, 0.3)), 
  url(https://image.ibb.co/jKByZn/tile_bg_1.jpg);
}

.frame-ug {
  background: 
  linear-gradient(90deg, rgba(65, 163, 109, 0.233), rgba(61, 72, 173, 0.363)), 
  url(https://image.ibb.co/jKByZn/tile_bg_1.jpg);
}

/* Colorless background. */
.frame-c {
  background: 
  linear-gradient(0deg, rgba(201, 216, 201, .3), rgba(201, 216, 209, .3)), 
  url(https://image.ibb.co/jKByZn/tile_bg_1.jpg);
}

/* Three plus color background. */
.frame-mc {
  background: 
  linear-gradient(0deg, rgba(132, 152, 132, 0.103), rgba(159, 135, 14, 0.464)), 
  url(https://image.ibb.co/jKByZn/tile_bg_1.jpg);
}

.name,
.type {
    margin-left: 10px;
    align-self: baseline;
    /* Have the card name take up the available space. */
    width:-webkit-fill-available;
}

.mana-symbols {
    display: flex;
    /* Push mana symbols to the left within flex scheme. */
    margin-left:auto;
}

.power-and-toughness-frame {
    justify-content: right;
    display: flex;
    margin-top: auto;
    align-self: flex-end;
}

.power-and-toughness  {
    border: unset;
    border-style: inset;
    border-radius: 18px/40px;
    padding-right: 20px;
    padding-left: 20px;
}

#mana-icon {
    font-size: 1.1em;
    border-radius: 50%;
    margin-right: 5px;
    align-self: center;
}

.manaCost {
  box-shadow: -0.05em 0.12em 0px 0 black;
}

/* Padding for all mana icons. */
.ms-padding {
  padding: 3px;
}

.ms-1, .ms-2, .ms-3, .ms-4, .ms-5, .ms-6, .ms-7, .ms-8, .ms-9 {
    background-color: #b1b1b1b9;
    border-radius: 50%;
}

.ms-b {
    background-color: #b1b1b1b9;
    border-radius: 50%;
}

.ms-u {
    background-color: #a2b4ff;
    border-radius: 50%;
}

.ms-r {
    background-color: #ec3c3c9f;
    border-radius: 50%;
}

.ms-w {
    background-color: #fcf9f9;
    border-radius: 50%;
}

.ms-g {
    background-color: #63d282;
    border-radius: 50%;
}

/* Override from mana.min.css and remove font-size so mana symbols show up better in card text. */
.ms {
  display: inline-block;
  font: normal normal normal 14px/1 Mana;
  /*font-size: inherit;*/
  line-height: 1em;
  text-rendering: auto;
  transform: translate(0,0);
  text-transform: none;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#set-icon {
    width: 6%;
    overflow: hidden;
    margin-right: 10px;
    align-self: center;
} 
.frame-type-line {
    margin-top: 0;
} 

.frame-margin {
    margin: 0 10px;
}

.frame-text-box-inner {
    display: flex;
    flex-direction: column;
}

.description {
    display: flex;
}

p {
    margin-bottom: 5px;
}

.ftb-inner-margin {
    margin: 5px 1px;
}

.frame-bottom-info {
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 5px 15px 0 15px; 
    min-height: 5%;
    max-height: 5%;
}

.fbi-left p:first-of-type {
    margin-bottom: 1px;
}

.fbi-center {
    border-radius: 60%;
    flex-basis: 41px;
    height: 21px;
    position: relative;
    bottom: 11px;
    z-index: 2;
    background: lightgray;
    background-image: url(https://image.ibb.co/jyq34n/holofoil_texture_2.jpg);
    box-shadow: 
    0 0 0 4px #171314;
}

.inner-margins {
    margin: 0 10px;
}

.fbi-right {
    text-align: right;
}

.frame-bottom-info img {
    overflow: hidden;
    max-width: 10px;
}