
.navbar-item div a {
  color: white
}

.navbar-item {
  color: white
}

.navbar-item div a:hover {
  color: grey
}

.navbar {
  margin: 0px;
}

.navbar-items {
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  background-color: rgba(0, 0, 0, 0.764);
  padding: 5px;
  align-items: center;
  height: 35px;
}

.navbar-item {
  font-size: 16px;
  color: white;
  padding-left: 5px;
}

.navbar-brand {
  display: flex;
  margin-right:auto;
}

.loginButton {
  width: 80px;
  height: 30px;
  margin: 5px;
  border-radius: 15px;
}

.loginButton:hover {
  background-color: rgba(228, 228, 228, 0.953);
}
